svg {
  height: 80px;
  width: 80px;
  background-color: #fff;
  margin-top: 28px;
}

circle {
  stroke-width: 6px;
  fill: transparent;
  padding: 10px 5px;
}

#gray {
  stroke: #379cf6;
}

#green {
  stroke: #e8e8e8;
  stroke-dasharray: 100, 284; /* length of arc, circumference of circle */
  stroke-dashoffset: 260.75; /* offset of arc from start point (1/2 arc length + 3/4 circumference) */
}
