* {
  margin: 0;
  padding: 0;
  background-color: #fafafa;
}

header {
  height: 4rem;
  margin: 0 0 2.375rem;
  background-color: #fff;
  font-family: Arial, Helvetica, sans-serif;
}

.navbar {
  display: flex;
  flex-direction: row;
  background-color: #fff;
  line-height: 2rem;
  font-size: 0.813rem;
  font-weight: normal;
  color: #121212;
  letter-spacing: 1.9px;
  padding: 12px 0;
}

.navbar h1 {
  font-size: 1.875rem;
  background-color: #fff;
  font-weight: bold;
  font-stretch: normal;
  color: #0290ff;
  padding-left: 30px;
}

.navbar ul {
  display: flex;
  background-color: #fff;
  flex-direction: row;
  list-style-type: none;
}

.allBooks li {
  padding: 5px 0;
}

.navbar ul li {
  padding: 0 20px;
  font-size: 20px;
  background-color: #fff;
}

.navbar ul li .links {
  text-decoration: none;
  background-color: #fff;
  color: #121212;
}

.allBooks {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  text-align: center;
  padding: 20px;
}

.allBooks li span {
  padding: 0 5px;
}

.bookForm button {
  font-size: 13px;
  background: #f1f3f4;
  border: none;
  cursor: pointer;
  outline: none;
  border-radius: 5px;
  padding: 10px;
  height: 50px;
  width: 70px;
}

.allBooks li button {
  font-size: 13px;
  background: #f1f3f4;
  border: none;
  cursor: pointer;
  outline: none;
  border-radius: 5px;
  padding: 10px;
  height: 50px;
  width: 70px;
}

.bookForm {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.bookForm input {
  padding: 10px 5px;
  margin: 2px;
}

.category {
  display: flex;
  justify-content: center;
  padding: 20px;
}
